# {{ ansible_managed }}
{# ../../../../defaults/main.yml #}

{% for section, values in mysql_options.iteritems() -%}
[{{ section }}]
{% for key, val in values.iteritems() -%}
{{ "%-23s = %s" | format(key, value|default('on')) }}
{%- endfor %}
{% endfor %}
